---
layout: page
title: assets
description:
image: /assets/img/logo-poster_5.png
logos:
  - name: logo 1
    link: /assets/img/logo/logo-1_v4.png
  - name: logo 2
    link: /assets/img/logo/logo-2_v4.png
---

<h2>Logo</h2>
<div class="row row-cols-2 row-cols-md-3 g-2">
  {% for logo in page.logos %}
  <div class="col">
    <div class="card bg-light rounded-0">
      <div class="card-body">
        <img src="{{ logo.link }}" alt="" class="card-img">
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<!-- comment 
<h2 class="border-bottom pb-1">Logo</h2>
<h3 class="pt-3">Logo 1</h3>
<div class="row row-cols-2 row-cols-md-3 g-2">
  {% assign logo-1 = site.data.assets.logo.logo-1 | group_by: "img-type" %}
  {% for type in logo-1 %}
  <h6 class="d-block w-100 text-uppercase mb-0">{{ type.name }}</h6>
  {% for logo in type.items %}
  <div class="col">
    <div class="card rounded-0">
      <div class="card bg-dark">
        <div class="card-body">
          <img src="{{ logo.img }}" alt="" class="card-img">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
endcomment -->
<!-- comment
<h3 class="pt-3">Logo 2</h3>
<div class="row row-cols-2 row-cols-md-3 g-2">
  {% assign logo-2 = site.data.assets.logo.logo-2 | group_by: "img-type" %}
  {% for type in logo-2 %}
  <h6 class="d-block w-100 text-uppercase mb-0">{{ type.name }}</h6>
  {% for logo in type.items %}
  <div class="col">
    <div class="card bg-light">
      <div class="card-body">
        <img src="{{ logo.img }}" alt="" class="card-img">
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
endcomment -->
<!-- comment
<h2 class="border-bottom pt-5 pb-1">Photos</h2>
<div class="row row-cols-2 g-2">
  {% assign photos = site.data.assets.photos | group_by: "name" %}
  {% for type in photos %}
  <h6 class="d-block w-100 text-uppercase mb-0 pt-3">{{ type.name }}</h6>
  {% for photo in type.items %}
  <div class="col">
    <div class="card bg-light">
      <div class="card-body p-0">
        <img src="{{ photo.img }}" alt="" class="card-img">
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
endcomment -->



