---
layout: page
title: contact
description:
contact:
  - type: whatsapp
    name: admin 1
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: admin 2
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: admin 3
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: admin 4
    url: +6281296827422
    icon: fa-brands fa-whatsapp
---

<div class="row row-cols-4">
  {% assign group = page.contact | group_by: "type" %}
  {% for type in group %}
  <h6 class="d-block w-100 text-uppercase mb-0 pt-3">{{ type.name }}</h6>
  {% for contact in type.items %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <i class="{{ contact.icon }}"></i>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
