---
layout: page
display-title-on-header: true
title: contact
description:
image: /assets/img/logo-poster_1.png
contact:
  - type: whatsapp
    name: Angga
    url: https://wa.me/+62 899-6278-710
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: Ropick
    url: https://wa.me/+62 895-3468-83550
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: Habiel
    url: https://wa.me/+62 858-6126-9014
    icon: fa-brands fa-whatsapp
---

<div class="row row-cols-3 row-cols-md-4 g-2">
  {% assign group = page.contact | group_by: "type" %}
  {% for type in group %}
  <h1 class="d-block w-100 text-uppercase fs-6 fw-bolder mb-0">{{ type.name }}</h1>
  {% for contact in type.items %}
  <div class="col">
    <div class="card rounded-0">
      <div class="card-body p-1">
        <a href="{{ contact.url }}" class="d-block text-center stretched-link link-dark text-decoration-none lh-1 p-0" style="font-size: 5em;"><i class="{{ contact.icon }}"></i></a>
      </div>
      <div class="card-footer bg-white p-1">
        <small class="d-block text-center lh-1">{{ contact.name }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
