---
layout: page
title: contact
description:
contact:
  - type: whatsapp
    name: ilfa
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: angga
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: ropick
    url: +6281296827422
    icon: fa-brands fa-whatsapp
  - type: whatsapp
    name: habiel
    url: +6281296827422
    icon: fa-brands fa-whatsapp
---

<div class="row row-cols-4 g-3">
  {% assign group = page.contact | group_by: "type" %}
  {% for type in group %}
  <h6 class="d-block w-100 text-uppercase mb-0 pt-3">{{ type.name }}</h6>
  {% for contact in type.items %}
  <div class="col">
    <div class="card">
      <div class="card-body p-1">
        <i class="{{ contact.icon }} d-block fs-1 text-center"></i>
      </div>
      <div class="card-footer p-0">
        <small class="text-center text-capitalize">{{ contact.name }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
