---
layout: page
title: matches
image: /assets/img/logo-4.png
---

<div id="wrap">
  <div class="container">
    {% assign matches = site.matches | group_by: "status" %}
    <div class="row row-cols-1 g-0">
      {% for match in matches %}
      <h1 class="d-block w-100 pt-5 text-uppercase text-center fw-bold">{{ match.name }}</h1>
      {% for item in match.items %}
      <div class="col">
        <div class="card rounded-0">
          <div class="card-body py-5">
            <p class="card-text text-center text-uppercase fw-bolder"><small>{{ item.competition }}</small></p>
            <p class="card-text text-center text-capitalize">{{ item.date | date: "%A, %d %B %Y. %R" }}</p>
            <div class="d-flex align-items-center justify-content-between py-5">
              <div class="text-center text-uppercase fw-bolder">{{ item.home }}</div>
              {% if item.status == "done" %}
              <div class="position-absolute top-50 start-50 translate-middle fs-3 fw-bolder">{{ item.result }}</div>
              {% else %}
              <div class="position-absolute top-50 start-50 translate-middle fs-3 fw-bolder">vs</div>
              {% endif %}
              <div class="text-center text-uppercase fw-bolder">{{ item.away }}</div>
            </div>
            <p class="card-text text-center text-capitalize text-secondary">{{ item.place }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
