---
layout: match
header: header-matches
title: matches
image: /assets/img/logo-p
---

<div class="bg-light pt-5">
  <div class="container-sm">
    {% assign matches = site.matches | group_by: "status" %}
    <div class="row row-cols-1 g-3">
      {% for match in matches reversed %}
      <h6 class="d-block w-100 mb-0 text-uppercase text-center fw-bolder mb-0">{{ match.name }}</h6>
      {% for item in match.items reversed %} 
      <div class="col">
        <div class="card rounded-0 border-0 mb-3 shadow-sm">
          <div class="card-body py-3">
            <p class="card-text text-center text-secondary fw-bolder mb-0 lh-1"><small class="text-uppercase">{{ item.type }}</small> • <small class="text-uppercase">{{ item.competition }}</small></p>
            <p class="card-text text-center text-secondary"><small class="text-uppercase">{{ item.kickoff }}</small></p>
            <div class="row row-cols-5 g-0 d-flex justify-content-around align-items-center text-center text-uppercase py-2">
              <div class="col-3">
                <small class="lh-1 float-end fw-bolder">{{ item.home.name }}</small>
              </div>
              <div class="col-2">
                <img src="{% if item.home.logo %}{{ item.home.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' | relative_url }}{% endif %}" alt="" class="border-0 bg-light" width="30" height="30">
              </div>
              {% if item.status == "last match" %}
              <div class="col-2 fw-bolder">{{ item.result.score }}</div>
                {% else %}
              <div class="col-2 fw-bolder">vs</div>
              {% endif %}
              <div class="col-2">
                <img src="{% if item.away.logo %}{{ item.away.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' | relative_url }}{% endif %}" alt="" class="border-0 bg-light" width="30" height="30">
              </div>
              <div class="col-3">
                <small class="lh-1 float-start fw-bolder">{{ item.away.name }}</small>
              </div>
            </div>
            <p class="card-text text-center text-capitalize">
              <small>
                <a href="{{ item.url }}" class="stretched-link link-secondary text-decoration-none">{{ item.place }}</a>
              </small>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
