<footer class="bg-light pb-5">
  <div class="container-sm border-top border-bottom py-5">
    <h6 class="text-uppercase text-center fw-bolder mb-3">partner</h6>
    <div class="d-flex justify-content-evenly align-items-center">
      <div>
        <img src="{{ '/assets/img/POK.svg' | relative_url }}" alt="" class="border-0" width="100" height="auto">
        <img src="{{ '/assets/img/yeni-sembako.svg' | relative_url }}" alt="" class="border-0 px-3" width="100" height="auto">
        <img src="{{ '/assets/img/redline.svg' | relative_url }}" alt="" class="border-0" width="100" height="auto">
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container-sm">
      <nav class="nav justify-content-evenly mx-auto" style="max-width: 25em;">
        <a href="{{ '/about' | relative_url }}" alt="" class="nav-item nav link-secondary text-decoration-none fw-bolder">About</a>
        <a href="" alt="" class="nav-item nav link-secondary text-decoration-none fw-bolder">Contact</a>
        <a href="" alt="" class="nav-item nav link-secondary text-decoration-none fw-bolder">Assets</a>
        <a href="" alt="" class="nav-item nav link-secondary text-decoration-none fw-bolder">Partner</a>
        <a href="" alt="" class="nav-item nav link-secondary text-decoration-none fw-bolder">FAQ</a>
      </nav>
    </div>
  </div>
  <div class="bg-light pt-3">
    <div class="container-sm">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="text-secondary pb-2">
          <small>© 2022 TESA Football Club.</small>
        </div>
        <div class="d-flex">
          <a href="https://instagram.com/tesa.fc?igshid=YmMyMTA2M2Y=" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.facebook.com/tesafootballclub/" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-facebook"></i></a>
          <a href="" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://youtube.com/channel/UCIp790AQCWjY_wjIZj68m3w" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-youtube"></i></a>
          <a href="https://www.flickr.com/people/195320778@N08/" alt="" class="fs-4 link-secondary pe-3"><i class="fa-brands fa-flickr"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
