<header class="text-white bg-dark" style="min-height: 480px; background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('{{ page.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: auto;"> 
  <div>
    <div class="container py-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 link-light text-decoration-none text-uppercase fw-bolder">
          <img src="{{ '/assets/img/logo-2-new.svg' | relative_url }}" alt="" class="border-0 rounded-circle shadow me-2" width="30" height="30">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="/">Home</a>
          <a {% if currentPage == '/players/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'players' | relative_url }}">Players</a>
          <a {% if currentPage == '/matches/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
  </div>
</header>
