
<header class="text-white bg-dark" style="min-height: 480px; background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));">
  <div>
    <div class="container py-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 link-light text-decoration-none text-uppercase fw-bolder">
          <img src="{{ '/assets/img/logo/logo-1_v4.png' | relative_url }}" alt="" class="border-0 rounded-circle shadow me-2" width="30" height="30">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/news/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'news' | relative_url }}">News</a>
          <a {% if currentPage == '/teams/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'teams' | relative_url }}">Teams</a>
         <!-- <a {% if currentPage == '/players/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'players' | relative_url }}">Players</a>-->
          <a {% if currentPage == '/matches/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
    <div class="container-sm pb-3">
      <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
          <img src="{% if page.image %}{{ page.image }}{% else %}{{ '/assets/img/blank-pp.png' | relative_url }}{% endif %}" alt="" class="d-block rounded-0 mx-auto" width="100%" height="100%">
        </div>
        <div class="col d-flex flex-column justify-content-center text-white text-center text-md-start">
          <p class="fw-bolder text-uppercase lh-1 mb-3" style="font-size: 3em;">{{ page.no-punggung }}</p>
          {% if page.position %}
          <p><span class="d-inline badge bg-light text-dark text-uppercase fs-6 p-1">{{ page.position }}</span></p>
          {% endif %}
          <p class="fw-bolder text-uppercase lh-1" style="font-size: 2em;">{{ page.title }}</p>
          {% if page.social %}
          <div class="d-flex justify-content-center justify-content-md-start">
            {% for item in page.social %}
            <a href="{{ item.url }}" alt="{{ item.name }}" class="fs-4 link-primary px-2"><i class="{{ item.icon }}"></i></a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
