<!--<header>
  <div class="text-white" style="height: 720px; background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('{{ page.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container pt-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 text-white text-decoration-none fw-bold text-uppercase">
          <img src="{{ '/assets/img/logo-2-new.svg' | relative_url }}" alt="" class="border-0 pe-2" width="35" height="35">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="/">Home</a>
          <a {% if currentPage == '/players/' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="{{ 'players' | relative_url }}">Players</a>
          <a {% if currentPage == '/matches' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
      <div>
        <span class="text-center text-capitalize fw-bolder" style="font-size: 3rem;">{{ page.title }}</span>
      </div>
      <div>
        <span class="text-uppercase fw-bolder" style="font-size: 6rem;">{{ page.no-punggung }}</span>
      </div>
    </div>
  </div>
</header>-->

<header style="min-height: 480px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));">
  <div>
    <div class="container py-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 link-light text-decoration-none text-uppercase fw-bolder">
          <img src="{{ '/assets/img/logo-2-new.svg' | relative_url }}" alt="" class="border-0 rounded-circle shadow me-2" width="30" height="30">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="/">Home</a>
          <a {% if currentPage == '/players/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'players' | relative_url }}">Players</a>
          <a {% if currentPage == '/matches/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
    <div class="container-sm pb-3">
      <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <img src="{% if page.image %}{{ page.image }}{% else %}{{ '/assets/img/pp/blank-pp.svg' | relative_url }}{% endif %}" alt="" class="img-fluid rounded-0">
        </div>
        <div class="col">
          <p class="fs-1 fw-bolder">{{ page.no-punggung }}</p>
          <p class="fs-2 fw-bolder m-0">{{ page.title }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
