
<header class="text-white bg-dark" style="height: 720px; background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('{{ page.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="h-100">
    <div class="container py-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 text-white text-decoration-none fw-bolder text-uppercase">
          <img src="{{ '/assets/img/logo-2-new.svg' | relative_url }}" alt="" class="border-0 rounded-circle shadow me-2" width="30" height="30">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/' %} class="nav-link px-2 link-secondary fw-bolder" {% else %} class="nav-link px-2 text-white fw-bolder" {% endif %} href="/">Home</a>
          <a {% if currentPage == '/news/' %} class="nav-link link-secondary fw-bolder px-2" {% else %} class="nav-link link-light fw-bolder px-2" {% endif %} href="{{ 'news' | relative_url }}">News</a>
          <a {% if currentPage == '/players/' %} class="nav-link px-2 link-secondary fw-bolder" {% else %} class="nav-link px-2 text-white fw-bolder" {% endif %} href="{{ 'players' | relative_url }}">Players</a>
          <a {% if currentPage == '/matches/' %} class="nav-link px-2 link-secondary fw-bolder" {% else %} class="nav-link px-2 text-white fw-bolder" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
    {% assign matches = site.matches | sort: "order" | reverse %}
    <div class="container-sm h-100 d-flex flex-column justify-content-center text-center pb-5">
      <div class="row row-cols-1">
        {% for match in matches limit:1 %}
        <div class="col">
          <div class="card bg-transparent text-white border-0">
            <div class="card-body">
              <h1 class="text-uppercase fw-bolder pb-5">{{ match.status }}</h1>
              <p class="card-text fw-bolder mb-0"><small class="text-uppercase">{{ match.type }}</small> • <small class="text-uppercase">{{ match.competition }}</small></p>
              <p class="card-text text-secondary fw-bolder"><small class="text-uppercase">{{ match.kickoff }}</small></p>
              <div class="row row-cols-3 text-center py-3">
                <div class="col">
                  <img src="{% if match.home.logo %}{{ match.home.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg | relative_url' }}{% endif %}" alt="" class="d-block mx-auto border-0 pb-2" width="75" height="75">
                  <span class="fw-bold text-uppercase lh-1">
                    {{ match.home.name }}
                  </span>
                </div>
                {% if match.status == "next match" %}
                <div class="col"><span class="fw-bold text-uppercase fs-1">vs</span></div>
                  {% else %}
                <div class="col"><span class="fw-bold text-uppercase fs-1">{{ match.result.score }}</span></div>
                {% endif %}
                <div class="col">
                  <img src="{% if match.away.logo %}{{ match.away.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' | relative_url }}{% endif %}" alt="" class="d-block mx-auto border-0 pb-2" width="75" height="75">
                  <span class="fw-bold text-uppercase lh-1">
                    {{ match.away.name }}
                  </span>
                </div>
              </div>
              {% if match.result.goal %}
              <div class="row row-cols-2 g-0">
                {% if match.result.goal.home %}
                <ul class="col list-group">
                  {% for goal in match.result.goal.home %}
                  <li class="list-group-item text-end text-capitalize text-white bg-transparent border-0 ps-1 pe-2 pb-0 lh-1"><small class="d-inline-block text-secondary">{{ goal.time | append: "'" }}</small><small class="d-inline-block fw-bolder px-2">{{ goal.name }}</small><i class="fa-solid fa-futbol text-secondary"></i></li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% if match.result.goal.away %}
                <ul class="col list-group">
                  {% for goal in match.result.goal.away %}
                  <li class="list-group-item text-start text-capitalize text-white bg-transparent border-0 ps-2 pe-1 pb-0 lh-1"><i class="fa-solid fa-futbol text-secondary"></i><small class="d-inline-block fw-bolder px-2">{{ goal.name }}</small><small class="d-inline-block text-secondary">{{ goal.time | append: "'" }}</small></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              {% endif %}
              <p class="card-text text-capitalize text-secondary fw-bolder pt-5"><i class="fa-solid fa-location-dot text-secondary pe-2"></i>{{ match.place }}</p>
            </div> 
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
