<header class="text-white" style="height: 720px; background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('{{ page.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="h-100">
    <div class="container pt-3">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center col-md-3 text-white text-decoration-none fw-bold text-uppercase">
          <img src="{{ '/assets/img/logo-2-new.svg' | relative_url }}" alt="" class="border-0 pe-2" width="35" height="35">
          {{ site.title }}
        </a>
        <nav class="nav col-12 col-md-auto justify-content-center mb-md-0">
          {% assign currentPage = page.url %}
          <a {% if currentPage == '/' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="/">Home</a>
          <a {% if currentPage == '/players/' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="{{ 'players' | relative_url }}">Players</a>
          <a {% if currentPage == '/matches' %} class="nav-link px-2 link-secondary" {% else %} class="nav-link px-2 text-white" {% endif %} href="{{ 'matches' | relative_url }}">Matches</a>
        </nav>
      </div>
    </div>
    <div class="container-sm h-100 d-flex flex-column justify-content-center text-center pb-5">
      <div class="row row-cols-1">
        <div class="col">
          <div class="card text-white bg-transparent">
            <div class="card-body">
              <h1 class="text-uppercase fw-bolder pb-5">{{ page.status }}</h1>
              <p class="text-uppercase fw-bolder mb-0"><small>{{ page.type }} • {{ page.competition }}</small></p>
              <p class="text-uppercase text-secondary"><small>{{ page.kickoff }}</small></p>
              <div class="row row-cols-3 text-center py-5">
                <div class="col">
                  <img src="{% if page.home.logo %}{{ page.home.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' }}{% endif %}" alt="" class="d-block mx-auto border-0 rounded-circle pb-2" width="75" height="75">
                  <span class="fw-bold text-uppercase">
                    {{ page.home.name }}
                  </span>
                </div>
                {% if page.status == "next match" %}
                <div class="col"><span class="text-uppercase fw-bolder">vs</span></div>
                  {% else %}
                <div class="col"><span class="text-uppercase fw-bolder">{{ page.result }}</span></div>
                {% endif %}
                <div class="col">
                  <img src="{% if page.away.logo %}{{ page.away.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' }}{% endif %}" alt="" class="d-block mx-auto border-0 rounded-circle pb-2" width="75" height="75">
                  <span class="fw-bold text-uppercase">
                    {{ page.away.name }}
                  </span>
                </div>
              </div>
              {% if page.goal %}
              <div class="row row-cols-2">
                {% if page.goal.home %}
                <ul class="col list-group">
                  {% for goal in page.goal.home %}
                  <li class="list-group-item text-end"><span>{{ goal.time }}</span>{{ goal.name }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% if page.goal.away %}
                <ul class="col list-group">
                  {% for goal in page.goal.away %}
                  <li class="list-group-item text-start">{{ goal.away }}<span>{{ goal.time }}</span></li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              {% endif %}
              <p class="card-text text-capitalize text-secondary">{{ page.place }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
