<div class="bg-light">
  <div class="container py-5">
    <div class="text-center fw-bolder text-uppercase pb-3">our sponsor</div>
    <div class="row row-cols-3">
      <div class="col">
        <img src="{{ 'assets/img/POK.png' | relative_url }}" class="img-fluid">
      </div>
      <div class="col">
        <img src="{{ 'assets/img/yeni-sembako.png' | relative_url }}" class="img-fluid">
      </div>
      <div class="col">
        <img src="{{ 'assets/img/redline.png' | relative_url }}" class="img-fluid">
      </div>
    </div>
  </div>
</div>
