---
layout: default
header: header-match
---

{% if page.lineup %}
<div class="text-white bg-dark" style="background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('{{ page.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="h-100">
    <div class="container-sm bg-transparent py-5">
      <div class="row row-cols-1">
        <div class="col">
          <div class="card text-white bg-transparent rounded-0">
            <div class="card-header">
              <h1 class="fw-bolder text-uppercase">lineup</h1>
            </div>
            <div class="py-5">
              <ul class="list-group list-group-flush">
                {% for player in page.lineup %}
                <li class="list-group-item row text-white bg-transparent border-0">
                  <span class="col fs-4 fw-bolder text-uppercase text-end text-secondary ps-3">{{ player.no-punggung }}</span>
                  <span class="col fs-4 fw-bolder text-uppercase">{{ player.name }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% if page.subs %}
            <div class="card-body d-flex">
              <div class="flex-flex-shrink-0">
                <span class="fs-6 fw-bolder text-uppercase text-secondary">subs:</span>
              </div>
              <div class="flex-grow-1 ps-3">
              {% for player in page.subs %}
                <span class="fs-6 fw-bold text-capitalize pe-1">{{ player.name }},</span>
              {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div>
  {{ content }}
</div>
