---
layout: default
header: header-match
---

{% if page.lineup %}
<div class="text-white bg-dark" style="background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('{{ page.lineup-image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="h-100">
    <div class="container-sm bg-transparent py-5">
      <div class="row row-cols-1">
        <div class="col">
          <div class="card text-white bg-transparent rounded-0">
            <div class="card-header d-flex justify-content-between">
              <h1 class="fw-bolder text-uppercase">lineup</h1>
              <div>
                <img src="{% if page.home.logo %}{{ page.home.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' | relative_url }}{% endif %}" alt="" class="border-0 rounded-circle" width="40" height="40">
                <span class="text-uppercase fw-bolder px-2">vs</span>
                <img src="{% if page.away.logo %}{{ page.away.logo | relative_url }}{% else %}{{ '/assets/img/logo/logo-blank.svg' | relative_url }}{% endif %}" alt="" class="border-0 rounded-circle" width="40" height="40">
              </div>
            </div>
            <div class="pt-5 pb-3 text-white bg-transparent">
              <div class="row row-cols-3 g-1">
                {% for player in page.lineup %}
                <span class="col-2 fs-5 fw-bolder text-uppercase text-end text-secondary pe-2">{{ player.no-punggung }}</span>
                <span class="col-2 fs-6 text-uppercase text-center badge border border-light">{{ player.position }}</span>
                <span class="col-8 fs-5 fw-bolder text-uppercase ps-2">{{ player.name }}{% if player.role == "captain" %}<span class="badge rounded-pill bg-warning text-uppercase text-center ms-2">c</span>{% endif %}</span>
                {% endfor %}
              </div>
            </div>
            {% if page.subs %}
            <div class="card-body d-flex">
              <div class="flex-flex-shrink-0">
                <span class="fs-6 fw-bolder text-uppercase">subs:</span>
              </div>
              <div class="flex-grow-1 ps-3">
              {% for player in page.subs %}
                <span class="fs-6 fw-bold text-capitalize text-secondary pe-1">{{ player.name }},</span>
              {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div>
  {{ content }}
</div>
