---
layout: default
header: header-player
---

<div class="text-light bg-dark py-5" style="background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col">
        <h1 class="text-uppercase mb-0 fs-3 pb-3">details</h1>
        <table class="table text-light border-secondary bg-transparent">
          <tbody>
            {% for item in page.details %}
            <tr class="row g-2 px-1">
              <td class="col-5 text-uppercase fw-bolder ps-0">{{ item.name }}</td>
              <td class="col-7 text-capitalize">{{ item.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if page.stats %}
      <div class="col text-light bg-transparent">
        <h1 class="text-uppercase mb-0 fs-3 pb-3">statistics</h1>
        <div class="row row-cols-3 row-cols-md-3 g-0">
          {% for stat in page.stats %}
          <div class="col border border-light">
            <div class="text-center py-3 px-1">
              <p class="fs-6 text-uppercase fw-bolder mb-0">{{ stat.name }}</p>
              <p class="fs-1 text-uppercase fw-bolder mb-0">{{ stat.value }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="mb-0 pt-3"><small class="text-center text-secondary">* Last update: 21 Juni 2022</small></p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div>
  {{ content }}
</div>
