---
layout: default
header: header-player
---

<div class="text-white bg-dark">
  <div class="container-sm">
    <h6 class="text-uppercase">personal</h6>
    <table class="table table-dark">
      <tbody>
        {% assign items = site.data.players_2022 %}
        {% if items.id == page.id %}
        {% for item in items.details %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.value }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div>
  {{ content }}
</div>
