---
layout: default
header: header-player
---

<div class="text-white bg-dark py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col">
        <h1 class="text-uppercase mb-0 fs-3 pb-3">details</h1>
        <table class="table table-dark">
          <tbody>
            {% for item in page.details %}
            <tr>
              <td class="text-uppercase fw-bolder ps-0">{{ item.name }}</td>
              <td class="text-capitalize">{{ item.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if page.stats %}
      <div class="col text-white bg-dark">
        <h1 class="text-uppercase mb-0 fs-3 pb-3">statistics</h1>
        <div class="row row-cols-2 row-cols-md-3 g-3">
          {% for stat in page.stats %}
          <div class="col">
            <div class="card text-white bg-dark border-white rounded-0 p-0">
              <div class="card-body">
                <p class="fs-6 text-uppercase text-center fw-bolder mb-0">{{ stat.name }}</p>
                <p class="fs-1 text-uppercase text-center fw-bolder mb-0">{{ stat.value }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div>
  {{ content }}
</div>
