---
layout: default
---

<div class="py-5 text-white bg-dark">
  <div class="container">
    {% assign selected-teams = page.teams %}
    {% assign team = site.data.players_2022 | where: "teams", selected-teams %}
    {% assign positions = team | group_by: "position" %}
    <div class="row row-cols-2 row-cols-md-4 g-3">
      <h1 class="d-block w-100 fs-3 text-uppercase fw-bolder mb-0">players</h1>
      {% for role in positions %}
      <h6 class="d-block w-100 text-uppercase fw-bolder pt-3 mb-0">{{ role.name }}</h6>
      {% for player in role.items %}
      <div class="col">
        <div class="card h-100 bg-dark border-0 rounded-0 shadow-sm" style="min-height:16rem;">
          <img src="{% if player.pp %}{{ player.pp }}{% else %}{{ '/assets/img/blank-pp.png' | relative_url }}{% endif %}" class="card-img img-fluid border-0 rounded-0" alt="">
          <div class="card-img-overlay d-flex flex-column justify-content-between rounded-0" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));">
            <h2 class="card-text fw-bolder mb-0">{{ player.no-punggung }}</h2>
            <a href="{{ player.profile-link | relative_url }}" class="card-text fs-5 link-light stretched-link text-decoration-none fw-bolder text-uppercase lh-1 mb-0" alt="">{{ player.name }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="container">
    {% assign selected-teams = page.teams %}
    {% assign match = site.matches | where: "teams", selected-teams %}
    {% assign match-win = match.result.conclusion | group_by: "win" %}
    <div class="row">
      <div class="col">
        <div class="p-3">
          <p>Matches Played</p>
          {% for win in match-win %}
          <p>{{ win.size }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
